<style>

  .mystatus {
    border: 2px solid black;
    display: block;
    padding: 4px;
  }

    .mystatus h3 {
      color: blue;
    }

  .available {
    color: green;
  }

  .notavailable {
    color: red;
  }
</style>

<div class="mystatus">
  <h3>@Name Status</h3>
  <p class="@(amAvailable ? "available" : "notavailable")">I am currently in the office and @(amAvailable ? "Available" : "NOT Available").</p>
  <button @onclick="@ToggleStatus">Toggle Status</button>
</div>

@code {

  [Parameter] EventCallback<bool> StatusChanged { get; set; }
  [Parameter] string Name { get; set; }

  bool amAvailable = true;

  void ToggleStatus()
  {
    amAvailable = !amAvailable;
    StatusChanged.InvokeAsync(amAvailable);
  }

}
