@page "/"

@inject IJSRuntime jsRuntime

<h1>Hello, world!</h1>

Welcome to your new app (The operators status is : @(opStatus ? "AVAILABLE" : "NOT AVAILABLE")))

<SurveyPrompt Title="How is Blazor working for you?" />

<MyStatus StatusChanged="@StatusUpdate" Name="Shawty"></MyStatus>

<Component1></Component1>

<button @onclick="@buttonHandler">@buttonLabel</button>

@code {

  bool opStatus = true;
  string buttonLabel = "Click Me To Change Me";

  void StatusUpdate(bool status)
  {
    opStatus = status;
  }

  async void buttonHandler()
  {
    buttonLabel = await ExampleJsInterop.Prompt(jsRuntime, "What is the new button text?");
    StateHasChanged();
  }

}

